tag {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0e0e0), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #e0e0e0 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#dfdfdf');
	background-color:#e0e0e0;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#bababa;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:20%;
	line-height:27px;
	width:30%px;
	text-decoration:none;
	text-align:center;
}
tag:hover {
	-moz-box-shadow:inset -3px -3px 0px 0px #d1d1d1;
	-webkit-box-shadow:inset -3px -3px 0px 0px #d1d1d1;
	box-shadow:inset -3px -3px 0px 0px #d1d1d1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0e0e0), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #e0e0e0 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#dfdfdf');
	background-color:#e0e0e0;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#bababa;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:21%;
	line-height:27px;
	width:31%;
	text-decoration:none;
	text-align:center;
}
transmnu{opacity: 0.6; filter: background-color:white; alpha(opacity=60);}
blubtn {
	-moz-box-shadow:inset -8px -4px 0px 0px #000dff;
	-webkit-box-shadow:inset -8px -4px 0px 0px #0088ff;
	box-shadow:inset -8px -4px 0px 0px #0088ff;
	background-color:#0091ff;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0;
	border:1px solid #0022ff;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:30%;
	line-height:54px;
	width:30%;
	text-decoration:none;
	text-align:center;
}blubtn:hover {
	background-color:#0088ff;
	-moz-box-shadow:inset -8px -4px 0px 0px #005eff;
	-webkit-box-shadow:inset -8px -4px 0px 0px #005eff;
}blubtn:active {
		-moz-box-shadow:inset -8px -4px 0px 0px #ffcc00;
	-webkit-box-shadow:inset -8px -4px 0px 0px #ffcc00;
	box-shadow:inset -8px -4px 0px 0px #ffcc00;
	background-color:#ff9900;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0;
	border:1px solid #ff9900;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:54px;
	line-height:54px;
	width:112px;
	text-decoration:none;
	text-align:center;
}
